@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

/*font-family: 'Inter', sans-serif;*/

/* BASE CASES */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth; /* keep?*/

}

body {
    margin:var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--text-font-size);
    background-color: var(--body-col);
    color: var(--text-col);
}

/* lists*/

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
/* responsive */
img {
    max-width: 100%;
    height: auto;
}

/* REUSABLE CLASSES (check later) */

.section {
    padding: 4.5rem 0 2rem;
}

.section__title {
    font-size: var(--h1-font-size);
    color: var(--title-col);
    text-align: center;
    margin-bottom: 1.5rem;

}

/*
.section__height {
    height: ;
}
*/

/* ========= LAYOUT ========== */
.container {
    max-width: 968px; /* medium size */
    margin-left: 1rem;
    margin-right: 1rem; /* checar*/

}
/* VARIABLESSS */

:root {
    --header-height: 3rem;

    /* color */
    --hue: 174;
    --saturation: 63%;

    --first-col: hsl(var(--hue), var(--saturation), 40%);
    --first-col-alt: hsl(var(--hue), var(--saturation), 36%);
    --title-col: hsl(var(--hue), 12%, 15%);
    --text-col: hsl(var(--hue), 8%, 35%);
    --body-col: hsl(var(--hue), 100%, 99%);
    --container-col: white;

    /* fonts */
    --body-font: 'Inter', sans-serif;

    --h1-font-size: 1.5rem;
    --text-font-size: 1rem;
    --petite-font-size: 0.5rem;

    /* z index and others */
    --z-tooltip: ;
    --z-fixed: ;
}

/* RESPONSIVENESS */

/*typography*/

@media screen and (min-width: 968px){
    :root{
        --h1-font-size: 2.2rem;
        --text-font-size: 1rem;

    }
}