@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

@font-face {
    font-family: Industry;
    src: url(/resources/Industry-BoldItalic.ttf);
}
/*font-family: 'Inter', sans-serif;*/

/* BASE CASES */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth; /* keep?*/

}

body:not(div .body){
    margin:var(--header-height) 0 0 0;
    font-family: var(--body-font);
    /*font-size: var(--text-font-size);*/
    background-color: var(--body-col);
    color: var(--text-col);
    align-content: center;
    text-align: center;

    
}

.hidden {
    display: none;
}

fieldset {
    border: 0;
}

/* lists */

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
/* responsive */
img {
    max-width: 100%;
    height: auto;
}

p {
    color:black;
}

/* REUSABLE CLASSES (check later) */

.section {
    padding: 4.5rem 0 2rem;
}

.section__title {
    font-size: 4rem;
    font-family: 'Industry';
    text-transform: uppercase;
    color: var(--title-col);
    text-align: center;
    margin-bottom: 1.5rem;
    margin-top: 8rem;

}


.section__height {
    height: 100vh; /** nomás pq se vea así*/
}


/* ========= LAYOUT ========== */
.container {
    max-width: 968px; /* medium size */
    margin-left: 1rem;
    margin-right: 1rem; /* checar*/
    margin: auto;

}
/* VARIABLESSS */

:root {
    --header-height: 10rem;

    /* color */
    --hue: 174;
    --saturation: 63%;

    --first-col: hsl(var(--hue), var(--saturation), 40%);
    --first-col-alt: hsl(var(--hue), var(--saturation), 36%);
    --title-col: #ee2737;
    --text-col: white;
    --body-col: white;
    --container-col: black;

    /* fonts */
    --body-font: 'Inter', sans-serif;
    --title-font: 'Industry';

    --h1-font-size: 4rem;
    --text-font-size: 1rem;
    --petite-font-size: 0.75rem;

    /* z index and others */
    --z-tooltip: ;
    --z-fixed: ;
}

/* RESPONSIVENESS */

/*typography*/

@media screen and (min-width: 968px){
    :root{
        --h1-font-size: 2.2rem;
        --text-font-size: 1rem;

    }
}


/* ================ HEADER =================== */

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    margin: auto;
    background-color: var(--container-col);

}

/* ===================NAV =====================*/

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    vertical-align: middle;

}

.nav__menu {
    margin: auto;
}

.nav__img {
    width: 125px; /* cambiar */
    margin-right: 100;
    position: absolute;
    left: 10px;
    margin: 1rem 1rem !important;
    top: 10px;
}

.nav__logo {
    color: white;
    font-size: var(--h1-font-size);
    font-family: 'Industry';
    text-transform: uppercase;
    font-weight: 600;
    position: absolute;
    right: 50px;
}

.nav__list,
.nav__link {
    display: flex;
}

.nav__link {
    flex-direction: column;
    align-items: center;
    row-gap: 0.25rem;
    color: var(--text-col);
    transition: 0.3s;
    font-weight: 400;
}


.nav__list {
    justify-content: space-around;
}

.nav__name {
    font-size: var(--petite-font-size);
}

.nav__icon {
    font-size: 1.5rem;
}



/* ====================== ACTIVE LINK  ===================== */

.nav__menu .active-link{
    position: relative;
    color: red;
    transition: 0.3s;
}

@media screen and (max-width: 767px) { /* iPad size */
    .nav__menu{
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: var(--container-col);
        box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15); /* cambiar */
        width: 100%;
        height: 4rem;
        padding: 0 1rem;
        display: grid;
        align-content: center;
        border-radius: 1.25rem 1.25rem 0 0;
        transition: 0.4s ease;
    }
}

/* ======================= CHANGE BG HEADER JS ================== */
.scroll-header {
    box-shadow: 0 1px 12px white; /* change if necessary */
}

/* ================= NON-MINIMALIST MEDIA-QUERY ADDITION =======*/

/* small devices */
@media screen and (max-width: 462px){
    .nav__name {
        display: none;
    }

    
}

/* large phones */
@media screen and (min-width: 576px){
    .nav__list {
        justify-content: center;
        column-gap: 3rem;
    }

}

/* ipads */
@media screen and (min-width: 767px){
    body{
        margin: 0; /* optimizes space top the top */
    }

    .section{
        padding: 7rem 0 2rem;

    }

    .nav{
        height: calc(var(--header-height) + 1.5rem); /* approx 4.5 rem*/
    }

    .nav__img {
        margin-top: 2rem;
    }

    
}

/* ============= PIT PART ++++++++++++++++++ */

